torch==2.12.1
torchvision==0.27.1
PyArabic==0.6.15
arabic-reshaper==3.0.0
six==1.16.0
numpy==2.5.0
pillow==12.2.0
tqdm==4.68.3
opencv-python==4.13.0.92
ultralytics==8.4.78
gradio==6.19.0
spaces==0.50.4
